.App {
  color: #61dafb;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  margin: 0 auto;
  padding: 20px;
}

a {
  color: #61dafb !important;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999;
  background-color: #282c34;
}

.card,
.jumbotron {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 20px 2px #111;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 10px;
}

.text-muted {
  font-size: 75%;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light,
.footer {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.card-text {
  color: #fff;
}

.links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blockquote {
  margin-bottom: 0;
  font-size: 16px;
  color: aquamarine;
}

.fab {
  font-size: 3rem !important;
}

.list {
  font-size: 10em !important;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills {
  background-color: rgba(256, 256, 256, 0.1);
}

.project:hover {
  transform: scale(1.03);
  transition: ease-in-out;
}

.article:hover {
  transform: scale(1.03);
  transition: ease-in-out;
}

.skill:hover {
  transform: scale(1.03);
  transition: ease-in-out;
}

.feedBox {
  padding: 1em 10em;
}

@media only screen and (max-width: 560px) {
  .feedBox {
    padding: 0;
  }
  .box {
    display: none !important;
    flex-direction: row !important;
  }
  .info-text {
    font-size: 2.5rem;
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.bg-buttons {
  z-index: -1;
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.box {
  display: flex;
  flex-direction: column;
}

.fab {
  margin-right: 5px;
}
